# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

!**/__pycache__/
py/server/__pycache__
py/dependency/__pycache__
py/story/__pycache__

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintrc.cjs
py/story/__pycache__/Story.cpython-38.pyc
py/story/__pycache__/__init__.cpython-38.pyc
py/server/__pycache__/utlis.cpython-38.pyc
py/server/__pycache__/utils_positioning.cpython-38.pyc
py/dependency/__pycache__/Dependency.cpython-38.pyc
py/dependency/__pycache__/__init__.cpython-38.pyc
